@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Manrope;
  background-color: #1f2632;
}

body .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  width: 25vw;
  padding: 50px;
  background-color: #323a49;
  border-radius: 20px;
}

body .content .id {
  color: #52ffa8;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

body .content .id #idAdvice {
  letter-spacing: 2px;
}

body .content .comment {
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

body .content .separation {
  display: flex;
  margin-bottom: 2%;
}

body .content .diceback {
  display: flex;
  position: absolute;
  bottom: -25px;
  background-color: #52ffa8;
  padding: 14px;
  border-radius: 100%;
}

body .content .diceback:hover {
  box-shadow: 0px 0px 20px 10px rgba(82, 255, 168, 0.3);
}

body .content .diceback:hover:hover {
  cursor: pointer;
}
